<launch>
  <arg name="cam_suffix"    default="_0" />

  <node  name="xsens_mti_node_3" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
      <rosparam command="load" file="$(find earth_rover_localization)/cfg/xsens_mti_node_3.yaml" />
      <remap from="/filter/free_acceleration" to="mti3/filter/free_acceleration" />
      <remap from="/filter/quaternion" to="mti3/filter/quaternion" />
      <remap from="/filter/velocity" to="mti3/filter/velocity" />
      <remap from="/imu/acceleration" to="mti3/imu/acceleration" />
      <remap from="/imu/angular_velocity" to="mti3/imu/angular_velocity" />
      <remap from="/imu/data" to="mti3/imu/data" />
      <remap from="/imu/mag" to="mti3/imu/mag" />
      <remap from="/imu/time_ref" to="mti3/imu/time_ref" />
  </node>

  <node  name="xsens_mti_node_630" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
      <rosparam command="load" file="$(find earth_rover_localization)/cfg/xsens_mti_node_630.yaml" />
      <remap from="/filter/free_acceleration" to="mti630/filter/free_acceleration" />
      <remap from="/filter/quaternion" to="mti630/filter/quaternion" />
      <remap from="/filter/velocity" to="mti630/filter/velocity" />
      <remap from="/imu/acceleration" to="mti630/imu/acceleration" />
      <remap from="/imu/angular_velocity" to="mti630/imu/angular_velocity" />
      <remap from="/imu/data" to="mti630/imu/data" />
      <remap from="/imu/mag" to="mti630/imu/mag" />
      <remap from="/imu/time_ref" to="mti630/imu/time_ref" />
  </node>

  <node pkg="earth_rover_localization"  name="imu_transform_3" type="imu_transform.py" output="screen">
      <remap from="/imu_in" to="mti3/imu/data" />
      <remap from="/imu_deg" to="mti3/imu_deg" />
  </node>

  <node pkg="earth_rover_localization"  name="imu_transform_630" type="imu_transform.py" output="screen">
      <remap from="/imu_in" to="mti630/imu/data" />
      <remap from="/imu_deg" to="mti630/imu_deg" />
  </node>

</launch>
